body{
  text-align: center;
  background-color: rgba(0,0,0,0.2);
}


#connect4{

  background-color: yellow;
  display: inline-block;
}


.col{
  width:70px;
  height:70px;
  display:inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 5px;

}

.next-red{
  background-color: #eb6642;
}

.next-blue{
  background-color: #677fbf;
}

.red{
  background-color:red;
}

.blue{
  background-color:blue;
}

.empty{
  cursor: pointer;
}
